:root {
    --clr-primary-500: #BB98B6;
    --clr-primary-600: #8C7996;
    --clr-primary-800: #3B3F52;
    --clr-primary-900: #1B2430;

    --clr-secondary-200: #D6D5A8;
    --clr-secondary-300: #fce305ea;
    --clr-secondary-400: #DEA01E;
    --clr-secondary-600: #F07B3F;
    --clr-secondary-700: orangered;
    --clr-secondary-800: crimson;

    --clr-neutral-100: #FFF;
    --clr-neutral-700: #51557E;

    --clr-highlight: darkseagreen;
    --clr-accent: #00CED1;

    /* --fs-xl: clamp(1.5rem, 8vw + 0.5rem , 5rem); */
    --fs-xl: clamp(2rem, 10vw + 0.5rem , 6rem);
    /* --fs-800: 1.375rem; */

    /* --fs-800: 1.75rem; */
    /* --fs-800: 1.875rem; */
    --fs-800: 2rem;
    /* --fs-600: 1.25rem; */
    --fs-600: 1.3125rem;
    --fs-400: 1.125rem;
}
body, h1, h2, h3, p {
    margin: 0;
}


body{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--fs-400);
    line-height: 1.5;
}
h1 {
    color: var(--clr-primary-600);
    font-family: 'Sacramento', cursive;
    font-size: var(--fs-xl);
}
h2 {
    color:var(--clr-highlight);
    font-size: var(--fs-800);
}
h3 {
    color: var(--clr-secondary-400);
    font-size: var(--fs-600);
}
p {
    max-width: 50ch;
    margin-inline: auto;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}
h2,
h3,
p{
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

hr{
    margin: 0 40%;
    border:none;
    border-top: 3px double var(--clr-secondary-600);
    color: var(--clr-secondary-600);
    overflow:visible;
    height: 5px;
}
hr::after{
    content: '§';
    position: relative;
    top: -17px;
    padding: 0 4px;
}

header {
    padding-top: 3rem;
}
section {
    padding: 2.5rem;
}
footer {
    padding-top: 2.5rem;
}
.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
.split {
    display: flex;
    flex-direction: column;
}
.i-can-help .split {
    gap: 2em;
}
@media (min-width: 480px){
    section{
        padding: 5rem 0;
    }
    .split{
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
}


.top {
    /* background-image: url('../images/masthead/Pink_Top_Left_V2_\(Blending\).jpg'); */
    /* background-image: url('../images/masthead/Purple_Top_Left_V2_\(More-Blending\).png'); */
    background-image: url('../images/masthead/purple-top.jpg');
    background-size:cover;
}
.top-blue-planet {
    /* top: 19%;
    right: 7%; */
    align-self: flex-end;
    width: 20%;
}
.top-orange-planet {
    /* top:25%;
    left: 12%; */
    width: 13%;
}
.top-city {
    width: 35vw;
    margin-left: 50%;
}
.top h3 {
    color:var(--clr-secondary-600);
}


.intro {
    position: relative;
}
.intro-background-wave{
    position:absolute;
    top:-1px;
    left:0;
    width:100%;
}
.intro-mountain {
    position: absolute;
    top: 0;
    left: 50%;
    width: 35vw;
    transform: rotate(180deg);
}
.intro-smile-circ2 {
    position: absolute;
    margin-top: -25vw;
    left: -0.9vw;    
    width: 60%;
}
.intro-text {
    margin-top: 50vw;
}
@media (min-width: 480px){
    .intro-text {
        margin-top: 60vw;
    }
}


div.split + div.split{
    margin-top:1.25em;
}
.help-figure{
    flex-shrink: 1.25;
    display: flex;
}
.help-figure > img{
    /* display: inline-block; */
    align-self: center;
    align-items: center;
}
/* .help-design-figure{
    flex-shrink: 1.25;
    display: flex;
}
.help-develop-figure{
    flex-shrink: 1.25;
    display: flex;
} */
/* .help-design-figure > img{
    display: inline-block;
    align-self: center;
    align-items: center;
}
.help-develop-figure > img{
    display: inline-block;
    align-self: center;
    align-items: center;
} */
.help-design-smile-circ{
    width: 35%;
    max-width: 7.5rem;
    max-height: 7.5rem;
}
.help-develop-smile-circ{
    width: 35%;
    max-width: 7.5rem;
    max-height: 7.5rem;
}
.help-design-icons{
    display: inline-block;
    max-width: 5rem;
    width: 35%;
    clip-path: circle(30%);
}
.help-develop-eye{
    display: inline-block;
    max-width: 5rem;
    clip-path: circle(30%);
    width: 35%;
}
.help-design-text{
    max-width:50ch;
}
.help-develop-text{
    max-width:50ch;
}
@media(min-width: 480px){
    .split{
        max-width: 40rem;
        margin-inline:auto;
    }
    div.split + div.split{
        margin-top: 5rem;
    }
    .help-develop-figure{
        order: 1;
    }
    .help-design-text{
        text-align: left;
    }
    .help-develop-text{
        text-align: left;
    }
}


.get-in-touch-btn{
    display: block;
    position: relative;
    margin: 1.5rem auto 1rem;
    padding: 0.5em 2rem;
    padding: 0.5em 2em 0.5em 3.5rem;
    text-align: center;
    background-color: var(--clr-secondary-400); 
    color: var(--clr-primary-900);
    opacity: 85%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 250ms;
}
.get-in-touch-btn:hover{
    opacity: 100%;
    transition-duration: 250ms;
}
@media (min-width: 480px){
    .get-in-touch-btn{
        display: inline-block;
    }
}
.get-in-touch-btn-icon{
    display: inline-block;
    position: absolute;
    left:10%;
    width: 1.5em;
    height: 1.5em;
    background-image: url(../images/get-in-touch/email-icon-v2-clr1B2430.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* for desktop */
/* .get-in-touch-btn {
    display: inline-block;
    margin: 1rem;
    padding: 0.5em 2rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-secondary-400);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    border-radius: 3px;
} */


footer {
    overflow: hidden;
}
footer a{
    color:var(--clr-primary-600);
    transition-duration: 250ms;
}
footer a:hover{
    color:var(--clr-primary-800);
}
.footer-list{
    padding-bottom: 1rem;
}
.footer-list a{
    padding: 1rem;
}
.footer-copyright{
    color:var(--clr-primary-600);
}
.footer-copyright span{
    text-decoration: underline;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}


.bg-primary {
    background-color:var(--clr-primary-800);
    color:var(--clr-secondary-200);
}
.bg-primary-dark {
    background-color: var(--clr-primary-900);
}






.trash {
    /* display: inline-block; */
    position: relative;
    /* left: 10%; */
    margin-inline: auto;
    width: 35%;
    max-width: 7.5rem;
}
