:root {
    --clr-primary-500: #BB98B6;
    --clr-primary-600: #8C7996;
    --clr-primary-800: #3B3F52;
    --clr-primary-900: #1B2430;

    --clr-secondary-200: #D6D5A8;
    --clr-secondary-300: #fce305ea;
    --clr-secondary-400: #DEA01E;
    --clr-secondary-600: #F07B3F;
    --clr-secondary-700: orangered;
    --clr-secondary-800: crimson;

    --clr-neutral-100: #FFF;
    --clr-neutral-700: #51557E;

    --clr-highlight: darkseagreen;
    --clr-accent: #00CED1;

    font-size: 18px;

    /* --fs-xl: clamp(1.5rem, 8vw + 0.5rem , 5rem); */
    /* --fs-xl: clamp(2rem, 10vw + 0.5rem , 6rem); */
    --fs-xl: calc(1.125 * clamp(2rem, 10vw + 0.5rem , 5rem));
    /* --fs-800: 1.375rem; */

    /* --fs-800: 1.75rem; */
    /* --fs-800: 1.875rem; */
    --fs-800: 2.375rem;
    /* --fs-800: 2.25rem; */
    /* --fs-800: 2.125rem; */
    /* --fs-800: 2rem; */
    /* --fs-600: 1.25rem; */
    --fs-600: 1.3125rem;
    --fs-400: 1.125rem;
    --fs-200: 1rem;
}
body, h1, h2, h3, p {
    margin: 0;
}


body{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--fs-400);
    line-height: 1.5;
}
h1 {
    color: var(--clr-primary-600);
    font-family: 'Sacramento', cursive;
    font-size: var(--fs-xl);
}
h2 {
    color:var(--clr-highlight);
    font-size: var(--fs-800);
    font-weight: 300;
}
h3 {
    color: var(--clr-secondary-400);
    font-size: var(--fs-600);
}
p {
    max-width: 50ch;
    margin-inline: auto;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}
h2,
h3,
p{
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

hr{
    margin: 0 40%;
    border:none;
    border-top: 3px double var(--clr-secondary-600);
    color: var(--clr-secondary-600);
    overflow:visible;
    height: 5px;
}
hr::after{
    content: '§';
    position: relative;
    top: -17px;
    padding: 0 4px;
}

header {
    padding-top: 3rem;
}
section {
    padding: 2.5rem;
}
footer {
    padding-top: 2.5rem;
}
.container {
    margin-inline: auto;
    /* width: min(90%, 70.5rem); */
    width: min(90%, 60rem);
    width: min(90%, 55rem);
}
.split {
    display: flex;
    flex-direction: column;
}
@media (min-width: 480px){
    section{
        padding: 5rem 0;
    }
    .split{
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
}


.nav{
    position: absolute;
    width: 100%;
    padding: 1rem 0;
}
/* .nav-content-wrapper{ */
    /* position:absolute; */
    /* right: 1rem; */
    /* padding-top: 1rem; */
    /* padding-right: 1rem; */
/* } */
.nav-icon{
    display: none;   
}
.nav-list-wrapper{
    position: absolute;
    right: 2rem;
}
.nav-list{
    list-style-type: none;
}
.nav-list-anchor{
    font-size: var(--fs-200);
    text-decoration: none;
    color:var(--clr-primary-600);
    transition-duration: 250ms;
}
.nav-list-anchor:hover{
    color:var(--clr-primary-800);
}
.nav-list-active{
    color:var(--clr-primary-500);
}
@media (min-width: 480px) {
    .nav{
        position: fixed;
        padding: 1.5rem 0;
        z-index: 100;
        transition: all ease 800ms;
        background-color: transparent;
    }
    .nav>.flex-layout{
        --gap: 2rem;
        position:relative;
        align-items: center;
        justify-content: space-between;
    }
    .nav-icon-wrapper{
        height: 6vw;
        width: 6vw;
        background-image: url(../images/masthead/astronaut.png);
        background-position: center ;
        background-size: contain;
        background-color: var(--clr-secondary-200);
        clip-path: circle(50%);
    }
    .nav-icon-link{
        display: block;
        width: 100%;
        height:100%;
    }
    .nav-list-wrapper{
        right: 1rem;
    }
    .nav-list-anchor{
        font-size: var(--fs-600);
    }
    .nav--disappear {
        background-color: transparent;
        transform: translateY(-200%);
    }
    .nav--transparent {
        background-color: transparent;
    }
    .nav--colored {
        background-color: var(--clr-primary-800);
    }
    .nav--translate-up {
        transform: translateY(-200%);
    }
}


.top {
    /* Fallback */
    background-image: url('../images/masthead/purple-top.jpg');
    background-image: linear-gradient( var(--clr-primary-900), transparent), url('../images/masthead/purple-top.jpg');
    background-size:cover;
    padding-top: 4.5rem;
}
.top-wrapper>.split{
    gap: 1rem;
}
.top-orange-planet {
    /* top:25%;
    left: 12%; */
    align-self: start;
    width: 13%;
    width: 13%;
}
.top-blue-planet {
    /* top: 19%;
    right: 7%; */
    align-self: end;
    width: 20%;
    width: 20%;
}
.top-city {
    position: relative;
    width: 35vw;
    margin-left: 50%;
}
.top-text h1{
    /* color:var(--clr-accent); */
    color:var(--clr-highlight);
    color:var(--clr-secondary-600);
    color:var(--clr-secondary-400);
}
.top-text h3 {
    font-size: var(--fs-200);
    color:var(--clr-primary-600);
    color:var(--clr-secondary-600);
}
@media (min-width: 480px){
    .top{
        padding-top: 12.5rem;
        padding-top: 10rem;
        padding-top: 8rem;
    }
    .top-wrapper>.split{
        height: 25vw;
    }
    .top-text h3{
        font-size: var(--fs-600);
    }
    .top-wrapper{
        /* margin-top: 5vw; */
        width: 100%;
    }
    /* .top .split{             */
        /* margin-top: 4.5rem; */
        /* margin-inline:auto; */
        /* max-width: 40rem;   */
        /* padding-top: 0; */
        /* justify-content: space-between; */
        /* align-items: stretch; */
    /* } */
    .top-orange-planet{
        max-width: 6rem;
        max-width: 5.5rem;
        padding-top: 4rem;
        order: 1;
    }
    .top-blue-planet{
        /* order:1; */
        max-width: 12rem;
        max-width: 11rem;
        max-width: 10rem;
        /* align-self:calc(start ); */
        /* order: 1; */
    }
    .top-text{
        white-space: nowrap;
        align-self: center;
        /* order:-1; */
    }
    .top-city{
        /* width: 20vw; */
        width: 50vw;
        transform: translateX(-50%);
        /* top: 1.5vw; */
        /* top: 1rem; */
        /* bottom: -1rem; */
        z-index: 10;
    }
}
/* @media ((min-width: 480px) and (max-width: 700px)){
    .top-orange-planet{
        max-width: 3rem;
    }
    .top-blue-planet{
        max-width: 5rem;
    }
    .top-text{
        padding-top: 2.5rem;
    }
} */


.intro {
    position: relative;
}
.intro-background-wave{
    position:absolute;
    top:-1px;
    left:0;
    width:100%;
}
.intro-mountain {
    position: absolute;
    top: 0;
    left: 50%;
    width: 35vw;
    transform: rotate(180deg);
    z-index: 10;
}
.intro-smile-circ2 {
    position: absolute;
    /* margin-top: -32.5vw;
    margin-top: -30vw;
    margin-top: -25vw; */
    margin-top: -27.5vw;
    /* margin-top: -28.5vw; */
    /* left: -0.1vw; */
    /* left: 0; */
    left: -0.525vw;
    width: 62.5%;
    width: 60%;
    /* width: 58.5%; */
    z-index: 10;
}
.intro-text {
    margin-top: 60vw;
    margin-top: 55vw;
    margin-top: 57.5vw;
}
@media (min-width: 480px){
    .intro-background-wave-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        overflow: hidden;
    }
    .intro-background-wave{
        /* pos absolute for mobile */
        position:relative;
        width:100%;
        height:100%;
        top:-10vw;
    }
    .intro-mountain{
        /* top: -1rem; */
        width: 20vw;
    }
    .intro-smile-circ2{
        margin-top: -27.5vw;
        margin-top: -22.5vw;
    }
    .intro-text {
        /* margin-top: 40vw; */
        /* margin-top: 45vw; */
        /* after redone top and nav */
        margin-top: 17.5vw;
        margin-top: 20vw;
    }
}
/* @media ((min-width: 480px) and (max-width: 700px)){
    .intro-text{
        margin-top: 35vw;
    }
} */

.i-can-help .split{
    gap: 2rem;
    transition: ease-out all 400ms;
}
div.split + div.split{
    margin-top:1.25em;
}
.help-figure-wrapper{
    padding-bottom: 25px;
    flex-shrink: 1.25;
    
}
.help-figure{
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;

    background-image: repeating-linear-gradient(to right, var(--clr-neutral-700), var(--clr-neutral-700) 2px, transparent 2px, transparent 4px);
    background-position: center center;
    background-size: calc(100% - 5rem) 1px;
    background-repeat: no-repeat;
}
.help-figure > img{
    position:relative;
    align-self: center;
    align-items: center;
}
.help-design-smile-circ{
    top: -0.5rem;
    left:1.5rem;
    width: 35%;
    max-width: 7.5rem;
    max-height: 7.5rem;
}
.help-develop-smile-circ{
    top: -0.5rem;
    right:1.5rem;
    width: 35%;
    max-width: 7.5rem;
    max-height: 7.5rem;
}
.help-design-icons{
    right: 1rem;
    max-width: 5rem;
    width: 35%;
    clip-path: circle(30%);
}
.help-develop-eye{
    left: 1rem;
    max-width: 5rem;
    clip-path: circle(30%);
    width: 35%;
    order: -1;
}
.help-design-text{
    max-width:50ch;
}
.help-develop-text{
    max-width:50ch;
}
@media ((min-width: 480px) and (max-width: 600px)){
    .help-figure{
        position:relative;
        top: 25%;
        left:-15%;
        width: 125%;
    }
}
@media ((min-width: 600px) and (max-width: 700px)){
    .help-figure{
        position:relative;
        top: 10%;
        left:-15%;
        width: 125%;
    }
}
@media(min-width: 480px){
    .i-can-help .split{
        margin-top: 4.5rem;
        margin-inline:auto;
        max-width: 40rem;
    }
    div.split + div.split{
        margin-top: 4rem;
    }
    .help-develop-text{
        order: -1;
    }
    .help-design-text{
        text-align: left;
    }
    .help-develop-text{
        text-align: left;
    }
}


.get-in-touch-btn{
    display: block;
    position: relative;
    margin: 1.5rem auto 1rem;
    padding: 0.5em 2rem;
    padding: 0.5em 2em 0.5em 3.5rem;
    text-align: center;
    background-color: var(--clr-secondary-400); 
    color: var(--clr-primary-900);
    opacity: 85%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 250ms;
}
.get-in-touch-btn:hover,
.get-in-touch-btn:focus{
    opacity: 100%;
    transition-duration: 250ms;
    outline-color: var(--clr-secondary-600);
}
@media (min-width: 480px){
    .get-in-touch-btn{
        display: inline-block;
    }
}
.get-in-touch-btn-icon{
    display: inline-block;
    position: absolute;
    left:10%;
    width: 1.5em;
    height: 1.5em;
    background-image: url(../images/get-in-touch/email-icon-v2-clr1B2430.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


footer {
    overflow: hidden;
}
footer a{
    color:var(--clr-primary-600);
    transition-duration: 250ms;
}
footer a:hover{
    color:var(--clr-primary-800);
}
.footer-list{
    padding-bottom: 1rem;
}
.footer-list a{
    padding: 1rem;
    text-decoration: none;
}
.footer-copyright{
    color:var(--clr-primary-600);
}


.flex-layout{
    display: flex;
    gap: var(--gap, 1rem);
}

@media (min-width: 480px){
    .disable-desktop{
        display: none;
    }
}


.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.overflow-x--hidden{
    overflow-x: hidden;
}
.overflow-y--hidden{
    overflow-y: hidden;
}


.bg-primary {
    background-color:var(--clr-primary-800);
    color:var(--clr-secondary-200);
}
.bg-primary-dark {
    background-color: var(--clr-primary-900);
}