:root {
    --clr-primary-500: #BB98B6;
    --clr-primary-600: #8C7996;
    --clr-primary-800: #3B3F52;
    --clr-primary-900: #1B2430;

    --clr-secondary-200: #D6D5A8;
    --clr-secondary-400: #DEA01E;
    --clr-secondary-600: #F07B3F;

    --clr-neutral-100: #FFF;
    --clr-neutral-700: #51557E;

    --clr-highlight: #F07B3F;
    --clr-accent: #D6D5A8;

    --clr-bruh: #febc95;

    /* --fs-xl: clamp(1.5rem, 8vw + 0.5rem , 5rem); */
    --fs-xl: clamp(2rem, 10vw + 0.5rem , 6rem);
    /* --fs-800: 1.375rem; */

    /* --fs-800: 1.75rem; */
    /* --fs-800: 1.875rem; */
    --fs-800: 2rem;
    /* --fs-600: 1.25rem; */
    --fs-600: 1.3125rem;
    --fs-400: 1.125rem;
}
body, h1, h2, h3, p {
    margin: 0;
}


body{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--fs-400);
    line-height: 1.5;
}
h1 {
    color: var(--clr-primary-600);
    font-family: 'Sacramento', cursive;
    font-size: var(--fs-xl);
}
h2 {
    color: var(--clr-primary-500);
    color: #00C6B8;
    font-size: var(--fs-800);
}
h3 {
    color: var(--clr-secondary-400);
    font-size: var(--fs-600);
}
p {
    max-width: 50ch;
    margin-inline: auto;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}
h2,
h3,
p{
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

hr{
    margin: 0 40%;
    border:none;
    border-top: 3px double var(--clr-secondary-600);
    color: var(--clr-secondary-600);
    overflow:visible;
}
hr::after{
    content: '§';
    position: relative;
    top: -17px;
    padding: 0 4px;
}

header {
    padding-top: 3rem;
}
section {
    padding: 2.5rem;
}
.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
.split {
    display: flex;
    flex-direction: column;
}
.i-can-help .split {
    gap: 2em;
}


.top {
    /* background-image: url('../images/masthead/Pink_Top_Left_V2_\(Blending\).jpg'); */
    background-image: url('../images/masthead/Purple_Top_Left_V2_\(More-Blending\).png');
    background-size: cover;
}
.top-blue-planet {
    /* top: 19%;
    right: 7%; */
    align-self: flex-end;
    width: 20%;
}
.top-orange-planet {
    /* top:25%;
    left: 12%; */
    width: 13%;
}
.top-city {
    width: 35vw;
    margin-left: 50%;
}
.top h3 {
    color:var(--clr-secondary-600);
}


.intro {
    position: relative;
    /* left: -10%; */
    /* define more color util classes and apply later */
    /* background-color: var(--clr-neutral-700); */
}
.intro-background-wave{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.intro-mountain {
    position: absolute;
    top: 0;
    left: 50%;
    width: 35vw;
    transform: rotate(180deg);
}
.intro-smile-circ2 {
    position: absolute;
    /* position: relative; */
    margin-top: -25vw;
    left: -0.6vw;    
    width: 60%;
    /* max-width: 10rem; */
}
.intro-text {
    /* margin-top: 1em; */
    margin-top: 50vw;
    /* text-align: left; */
}


/* .i-can-help h2 {
    color:var(--clr-neutral-100);
    color:#BB98B6;
    color:var(--clr-primary-600);
    color:#8C7996;
} */
/* .get-in-touch h2 {
    color:var(--clr-secondary-400);
} */

.help-want-smile-circ{
    margin-inline:auto;
    width: 35%;
    max-width: 7.5rem;
}

.help-need-smile-circ{
    margin-inline:auto;
    width: 35%;
    max-width: 7.5rem;
}


footer {
    overflow: hidden;
}
/* footer a{
    margin-top: 1em;
}
footer p {
    margin-bottom: 0;
} */

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}


.bg-primary {
    background-color:var(--clr-primary-900);
    background-color:var(--clr-primary-600);
    background-color:var(--clr-primary-800);
    /* background-color:#0E4D61; */
    color:var(--clr-secondary-200);
    /* color:#D8E81A; */
    color:var(--clr-secondary-200);
}
.bg-primary-dark {
    background-color: var(--clr-primary-900);
}






.trash {
    /* display: inline-block; */
    position: relative;
    /* left: 10%; */
    margin-inline: auto;
    width: 35%;
    max-width: 7.5rem;
}
